body{

    background-color: #EEF9BF;

}

main{
    display: flex;
    flex-direction: column;
    justify-content: space-;
    align-items: center;
    font-family: 'Righteous', cursive;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    
}

section{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center ;
    padding: 34px;

}

main h1 {
    color: #75B79E;
    font-weight: 700;
    font-size: 56px;
    margin-top: 40px;
 
}

img{
    width: 100px;
    height: 100px;
    position: absolute;

}


.caixa{
    width: 117px;
    height: 146px;
    position: relative;
    margin-bottom: 34px;
    margin-right: 34px;
    background-color: #EEF9BF;
}

.carta{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #99CEA8;
    position: absolute;

    transition: all 0.5s;
    backface-visibility: hidden;
}


.frente{
    transform: rotateY(0deg);
    z-index: 2;
}

.frente.virada{
    transform: rotateY(180deg);
}

.verso{
    transform: rotateY(0deg);
}

.verso.virada{
    transform: rotateY(180deg);
    z-index: 2;
} 

.jogadas{
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: #75B79E;
}

.relogio{
    position: fixed;
    bottom: 10px;
    left: 10px;
    color: #75B79E;
}