main{
    display: flex;
    flex-direction: column;
    justify-content: space-;
    align-items: center;
    background-color: #EEF9BF;
    font-family: 'Righteous', cursive;
    font-family: 'Roboto', sans-serif;
    width: 100%;
}

section{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center ;
    padding: 34px;

}

.carta{
    width: 117px;
    height: 146px;
    background-color: #99CEA8;
    border: solid #99CEA8;
    position: relative;
    margin-bottom: 34px;
    margin-right: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main h1 {
    color: #75B79E;
    font-weight: 700;
    font-size: 56px;
    margin-top: 40px;
 
}

img{
    width: 100px;
    height: 100px;
    position: absolute;

}

.parte-oculta{
    display: none;
}

